<h1> Faça donwload dos arquivos!</h2>
    <p><a href="https://www.ifbaiano.edu.br/unidades/guanambi/files/2013/07/Regulamento-de-Estágio.pdf" target="_blank">Regulamento de Estágio</a></p>
    <p><a href="https://www.ifbaiano.edu.br/unidades/guanambi/files/2013/07/normas-para-elaboração-de-relatorio.final_.pdf" target="_blank">Normas para elaboração de relatorio final</a></p>
    <p><a href="https://www.ifbaiano.edu.br/unidades/guanambi/files/2013/07/PASSO-A-PASSO-PROCEDIMENTAL-DO-ESTÁGIO-DE-NÍVEL-MÉDIO.pdf" target="_blank">Passo a passo procedimental do Estágio de Nível Médio</a></p>
    <p><a href="https://www.ifbaiano.edu.br/unidades/guanambi/files/2013/07/1REQUERIMENTO_-CADASTRO-DO-ESTAGIÁRIO.odt" target="_blank">1 &#8211; Requerimento de Cadastro de Estagiário</a></p>
    <p><a href="https://www.ifbaiano.edu.br/unidades/guanambi/files/2016/10/2-DECLARAÇÃO-DO-ORIENTADOR.odt" target="_blank">2 &#8211; Declaração do Orientador</a></p>
    <p><a href="https://www.ifbaiano.edu.br/unidades/guanambi/files/2016/10/3-PLANO-DE-ESTÁGIO.odt" target="_blank">3 &#8211; Plano de Estágio</a></p>
    <p><a href="https://www.ifbaiano.edu.br/unidades/guanambi/files/2016/10/4-REQUERIMENTO_DE_VALIDAÇÃO-DE-ESTÁGIO.odt">4 &#8211; Requerimento de Validação do Estágio</a></p>

<h2> Escolha um feed </h2>

<p> <a href= "/post/feed/Técnico%20em%20Informática%20para%20Internet/ "> Vagas para Técnico em Informatica </a> </p>
<p> <a href= "/post/feed/Técnico%20em%20Agropecuaria/ "> Vagas para Técnico em Agropecuaria </a> </p>
<p> <a href = "/post/feed/Técnico%20em%20Agroindustria/">  Vagas para Técnico em Agroindustria </a>  </p>
